<div style="display: grid;place-items: center;">
<table>
    <tr style="display: grid;grid-template-columns: repeat(5,1fr);">
        <th>หลักฐานการโอน</th>
        <th>ชื่อ-นามสกุล</th>
        <th>เข้าร่วมเมื่อ</th>
        <th>จำนวนเงิน</th>
        <th>สถานะ</th>
    </tr>
    <tr style="display: grid;grid-template-columns: repeat(5,1fr);">
		<th><a href="img/<%= list.getDonationIMG()%>" target="_blank"><img style="width:320px;height: 400px;"></a></th>
        <th>puttipong chomchit</th>
        <th><i class="fa fa-calendar"></i>16 เมษายน 2023, 21:25</th>
        <th>100</th>
        <th>กำลังจัดส่ง</th>	
    </tr>
    <tr>
        <th colspan="5" style="text-align: right;padding-right: 4%;">
        	ยอดบริจาคทั้งหมด 100.00 บาท
        </th>
    </tr>
</table>
</div>