<div >
    <div style="height: 58vh;display: grid;grid-template-columns: 1fr 1fr;">
        <div style="display: flex;justify-content: center;align-items: center;">
            <div style="width: 30vw;">
                <p>ยินดีต้อนรับ</p>
                <p>ยินดีต้อนรับเข้าสู่ เว็บไซต์สมาคมศิษย์เก่า คณะวิทยาศาสตร์ มหาวิทยาลัยแม่โจ้
                หากท่านเป็นสมาชิกหรือบัณฑิตที่จบการศึกษาไปแล้ว สามารถเข้ามาอัพเดตข้อมูลส่วนตัวของท่าน
                เพื่อเป็นประโยชน์ในการค้นหาข้อมูล และรับข่าวสารจากทางสมาคมครับ</p>
            </div>
        </div>
        <div style="background-color: #FA620F;"></div>
      </div>
      <div style="display: flex;float: right;">
        <img src="../assets/img/background-index.png" style="height: 70vh;margin-right: 20vw;margin-top: -58vh;z-index: 1;">
        <img src="../assets/img/balloon_1458939.png" style="height: 60vh;position: absolute;right: 1vw;top: 50vh;z-index: 2;">
        <img src="../assets/img/balloon_1458939.png" style="height: 60vh;position: absolute;right: 30vw;top: 50vh;z-index: 2;">
      </div>
      <div style="background-color: rgb(235, 235, 235);box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 2px;position: sticky;top: 140px;height: 1px;"></div>
    <div>
        <!--pre>main works!</pre-->
        <div style="height: 30vh;"></div>
        <div style="padding-left: 20vw;padding-right: 20vw;height: 30vh;">
            <div class="box-head" style="font-size: 2.8em;color: #FA620F;">ข่าวใหม่ล่าสุด</div>
            <div style="display: flex;justify-content: center;align-items: center;height: 20vh;
            border: 1px dashed black;">ช่องข่าวสารการแจ้งเตือน</div>
        </div>
        <div style="padding-left: 20vw;padding-right: 20vw;height: 30vh;">
            <div class="box-head" style="font-size: 2.8em;color: #FA620F;">ศิษย์เก่าดีเด่น</div>
            <div style="display: flex;justify-content: center;align-items: center;height: 20vh;
            border: 1px dashed black;">ข้อมูลนักศึกษารูปภาพประกอบ รูปนักศึกษา</div>
        </div>
        <div style="padding-left: 20vw;padding-right: 20vw;height: 30vh;">
            <div class="box-head" style="font-size: 2.8em;color: #FA620F;">ของรางวัล ผู้บริจาค</div>
            <div style="display: flex;justify-content: center;align-items: center;height: 20vh;
            border: 1px dashed black;">รูปภาพสินค้า เงื่อนไขการรับสินค้า รูปผู้บริจาคกับของรางวัล</div>
        </div>
        <div style="padding-left: 20vw;padding-right: 20vw;height: 30vh;">
            <div class="box-head" style="font-size: 2.8em;color: #FA620F;">ช่องโพส ขอบคุณ บริษัทมอบทุนการศึกษาให้คณะ</div>
            <div style="display: flex;justify-content: center;align-items: center;height: 20vh;
            border: 1px dashed black;">ชื่อทุน รูปภาพประกอบ รายละเอียดการมอบทุน</div>
        </div>
        <div style="padding-left: 20vw;padding-right: 20vw;height: 30vh;">
            <div class="box-head" style="font-size: 2.8em;color: #FA620F;">รายการบริจาค</div>
            <div style="display: flex;justify-content: center;align-items: center;height: 20vh;
            border: 1px dashed black;">ห้วข้อ รูปภาพประกอบ คำอธิบาย</div>
        </div>
        <div style="padding-left: 20vw;padding-right: 20vw;height: 30vh;">
            <div class="box-head" style="font-size: 2.8em;color: #FA620F;">รายการบริจาคที่สิ้นสุดแล้ว</div>
            <div style="display: flex;justify-content: center;align-items: center;height: 20vh;
            border: 1px dashed black;">สรุปยอดบริจาค เชื่อมหน้าสรุปยอดบริจาคอื่นๆ</div>
        </div>
    </div>
</div>
