.footer {
    margin-top: 30px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #db4c25;
    color: #8fb0b5;
    /*text-align: center;*/
    position: fixed;
}
nav{
    /*background-color: skyblue;*/
    background-color: #FA620F;
    height: 140px;
    border: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
a{
    font-size: x-large;  
}
li a{
    background-color: #FA620F;
    opacity: 0.6;
    transition: 0.3s;
    color: #FBFBFB;
}
li a:hover{
    color: #FBFFFF;
    opacity: 1
}
li a:visited{
    color: #FBFFFF;
    opacity: 1
}

hr.orange{
    border: 6px solid orange;
    margin-top: 0em;
    margin-bottom: 0em;
    background-color: orange;
}

.card { 
    width: auto; 
    height: 2px; 
    background: #0ffac7;
    position: relative; 
    overflow: hidden; 
}
.card::before { 
    content: '';
    position: absolute;
    width: 100%; 
    background-image: linear-gradient(to right, rgb(0, 0, 0,0) , rgb(211, 49, 170)); 
    height: 100%;
    animation: rotBGimg 2s linear infinite; 
    transition: all .2s linear; 
} 
@keyframes rotBGimg { 
    from { transform: translateX(-100%); }
    to { transform: translateX(100%); }
}
.card::after { 
    content:""; 
    position: absolute; 
    background: rgb(0, 0, 0,0); 
    inset: 5px;
}