<div class="container">
<div>
	<div>
		<h1 style="color:rgb(255,100,0);">
			ร่วมสร้างการเปลี่ยนแปลง และสร้างโอกาสทางการศึกษา แก่น้องๆ คณะวิทยาศาสตร์ มหาวิทยาลัยแม่โจ้ ครั้งที่ 2
		</h1>
	</div>
		<div class="w3-content w3-display-container">
            <img src="../assets/img/Giving2SciMJU3.png" style="width: 60vw;">
		</div>
    <br>
	ตรวจสอบรายชื่อการบริจาค <a href="loadListDonator?projectID=<%= projectID%>&year=<%= year%>&project_detailID=<%= project_detailID%>" class="highlight">คลิกที่นี่</a>
</div>
<hr>
<div>
    <p>
        ถึง พี่น้องชาววิทยาศาสตร์ แม่โจ้ และผู้ที่สนใจทุกท่าน
        จากสถานการณ์การแพร่ระบาดของโรคติดต่อจากเชื้อไวรัสโควิด-19 อย่างต่อเนื่อง ส่งผลกระทบต่อผู้ปกครองของนักเรียน นักศึกษาเป็นจำนวนมาก ที่ถูกเลิกจ้างงาน ไม่มีงานทำ และขาดรายได้มาเป็นระยะเวลานาน ประกอบกับปีนี้ เป็นปีที่คณะวิทยาศาสตร์ มหาวิทยาลัยแม่โจ้ ก่อตั้งมาครบ 29 ปี ในการนี้ คณะวิทยาศาสตร์ มหาวิทยาลัยแม่โจ้ จึงขอส่งข่าวเชิญชวน ศิษย์เก่า และผู้ที่สนใจ ร่วมสร้างการเปลี่ยนแปลง สร้างโอกาสทางการศึกษา และพัฒนาคุณภาพของนักศึกษา คณะวิทยาศาสตร์ มหาวิทยาลัยแม่โจ้
        โดยการร่วมสมทบทุนทรัพย์ตามกำลังศรัทธา เพื่อเป็นทุนการศึกษาสำหรับน้อง ๆ นักศึกษาคณะวิทยาศาสตร์ รวมถึงน้อง ๆ นักศึกษาใหม่ ประจำปี 2566 ที่กำลังจะเข้ามาปีหน้านี้ด้วย โดยที่คณะ ตั้งเป้าไว้ 29 ทุน ๆ ละ 5,000 บาท รวมเป็นเงินทั้งสิ้น 145,000 บาท
    </p>
    <p>
        ขอขอบคุณทุกท่าน ที่มีส่วนร่วมแบ่งปัน สร้างโอกาส ร่วมเป็นกำลังใจให้น้อง ๆ นักศึกษา ของคณะวิทยาศาสตร์ ให้พวกเขาผ่านพ้นช่วงเวลาที่ยากลำบากนี้ไปด้วยกัน<br>
        สอบถามข้อมูลเพิ่มเติมได้ที่<br>
        ผศ.ดร.สายัณห์ อุ่นนันกาศ โทร. 091-3834888<br>
        รองคณบดีคณะวิทยาศาสตร์ ฝ่ายกิจการนักศึกษา กิจการพิเศษ และวิเทศสัมพันธ์ / ศิษย์เก่าคณะวิทยาศาสตร์ มหาวิทยาลัยแม่โจ้ รุ่น 2<br>
        หรือ นางดรุณี สิงห์สุข เบอร์โทร. 053-873819 (ในวัน-เวลาราชการ)
    </p>
</div>
<div>
	<h1>ขั้นตอนการสมทบทุน</h1>
	<h4>1. โอนเงินเข้าบัญชี</h4>
	<h4>2. กรอกแบบฟอร์มแจ้งความจำนงค์ในการบริจาค <a href="loadDonation?projectID=<%= projectID%>&year=<%= year%>&project_detailID=<%= project_detailID%>" class="highlight">ส่งหลักฐานการโอนเงิน</a></h4>
	<h4>(*จำเป็น เนื่องจากต้องใช้ข้อมูลนี้เพื่อเบิกเงินจากบัญชีของมหาวิทยาลัย)</h4>
	<h4>3. รอรับใบเสร็จ ตามช่องทางที่ท่านแจ้งไว้</h4>
	<h4>4. ตรวจสอบรายชื่อการบริจาค <a href="loadListDonator?projectID=<%= projectID%>&year=<%= year%>&project_detailID=<%= project_detailID%>" class="highlight">คลิกที่นี่</a></h4>
</div>
</div>