<div style="padding-left: 20vw;padding-right: 20vw;">
    <div class="box-head" style="font-size: 2.8em;color: #FA620F;">ศิษย์เก่าดีเด่นคณะวิทยาศาสตร์ มหาวิทยาลัยแม่โจ้</div>
    <div class="card"></div>
    <div style="margin-top: 50px;">
        <div style="display: flex;">
            <img src="../assets/img/trophy-icon.png" style="height: 40px;"><p style="margin: 0;padding-top: 15px;font-size: 22px;">ปีการศึกษาที่ได้รับ : 2563</p>
        </div>
        <div style="display: grid;grid-template-columns: repeat(5,1fr);">
            <div>
                <img style="width: 130px;aspect-ratio: auto 130 / 170;height: 170px;">
                <p>นายสมชาย มุ้ยจีน</p>
                <p>ศิษย์เก่าดีเด่นด้านอาชีพหน้าที่การงาน</p>
                <p>สาขาวิชาเทคโนโลยีชีวภาพ</p>
                <p>คณะวิทยาศาสตร์ รุ่นที่ 2</p>
            </div>
            <div>
                <img style="width: 130px;aspect-ratio: auto 130 / 170;height: 170px;">
                <p>นายสมชาย มุ้ยจีน</p>
                <p>ศิษย์เก่าดีเด่นด้านอาชีพหน้าที่การงาน</p>
                <p>สาขาวิชาเทคโนโลยีชีวภาพ</p>
                <p>คณะวิทยาศาสตร์ รุ่นที่ 2</p>
            </div>
            <div>
                <img style="width: 130px;aspect-ratio: auto 130 / 170;height: 170px;">
                <p>นายสมชาย มุ้ยจีน</p>
                <p>ศิษย์เก่าดีเด่นด้านอาชีพหน้าที่การงาน</p>
                <p>สาขาวิชาเทคโนโลยีชีวภาพ</p>
                <p>คณะวิทยาศาสตร์ รุ่นที่ 2</p>
            </div>
            <div>
                <img style="width: 130px;aspect-ratio: auto 130 / 170;height: 170px;">
                <p>นายสมชาย มุ้ยจีน</p>
                <p>ศิษย์เก่าดีเด่นด้านอาชีพหน้าที่การงาน</p>
                <p>สาขาวิชาเทคโนโลยีชีวภาพ</p>
                <p>คณะวิทยาศาสตร์ รุ่นที่ 2</p>
            </div>
            <div>
                <img style="width: 130px;aspect-ratio: auto 130 / 170;height: 170px;">
                <p>นายสมชาย มุ้ยจีน</p>
                <p>ศิษย์เก่าดีเด่นด้านอาชีพหน้าที่การงาน</p>
                <p>สาขาวิชาเทคโนโลยีชีวภาพ</p>
                <p>คณะวิทยาศาสตร์ รุ่นที่ 2</p>
            </div>
        </div>
        <hr>
    </div>
    
</div>

